.BattleshipApp-container {
  height: 100%;
  width: 600px;
  margin: 0 auto;
}

.Board-table td {
  border: 1px solid silver;
  width: 30px;
  height: 30px;
}

.Board-blackcell {
	background-color: black;
}
.Board-adjacentcell {
	background-color: lavenderblush;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
